@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to bottom,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
    box-shadow: 5px 5px 15px #fff;
}


/* export const Icon = styled.div` */
.icon{  
align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1%;
  padding: 5%;
  }
.icon:hover{
        background-color: #2b2c45;
          transform: scale(1.2);
          transition: transform .2s ease-in-out;
          cursor: pointer;
  }
.list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 3fr);
  gap: 30px;
  margin: 3rem 0;
/*   
  @media ${props => props.theme.breakpoints.lg}{
    margin: 64px 0;
  }

  @media ${props => props.theme.breakpoints.md}{
    margin: 64px 0;
    gap: 24px
  }
  
  @media ${props => props.theme.breakpoints.sm}{
    display: flex;
    flex-direction: column;
    margin: 32px 0; */
  /* } */
}